<div class="row mb-5 <%= @options[:class] %>" style="justify-content: space-between; flex-shrink: 0; align-items: flex-start; <%= @options[:style] %>">
  <div class="row" style="gap: 14px; align-items: center;">
    <% if @back_url.present? %>
      <%= render Ui::Btn::Component.new(variant: "secondary", size: "icon", url: @back_url) do %>
        <%= render Ui::Icon::Component.new("back", size: 22) %>
      <% end %>
    <% elsif left_action? %>
      <%= left_action %>
    <% end %>

    <div>
      <% if @title.present? %>
        <% heading_tag = @back_url.present? || left_action? ? :h2 : :h1 %>
        <%= content_tag heading_tag, @title, class: "h-display display", style: "font-size: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 380px;" %>
      <% end %>
      <% if @subtitle.present? %>
        <div class="subtitle" style="margin-top: 2px;"><%= @subtitle %></div>
      <% end %>
    </div>
  </div>
  <% if right_slot? %>
    <div><%= right_slot %></div>
  <% end %>
</div>
