<div class="row mb-5 <%= @options[:class] %>" style="justify-content: space-between; flex-shrink: 0; align-items: flex-start; <%= @options[:style] %>">
  <div class="row" style="gap: 14px; align-items: center;">
    <% if @back_url.present? %>
      <%= link_to @back_url, class: "btn btn-secondary btn-icon" do %>
        <i class="ph-bold ph-caret-left" style="font-size: 22px;"></i>
      <% end %>
    <% end %>
    <div>
      <% if @title.present? %>
        <h2 class="h-display display" style="font-size: 30px;"><%= @title %></h2>
      <% end %>
      <% if @subtitle.present? %>
        <div class="subtitle" style="margin-top: 2px;"><%= @subtitle %></div>
      <% end %>
    </div>
  </div>
  <% if right_slot? %>
    <div><%= right_slot %></div>
  <% end %>
</div>
