<div class="flex items-center gap-1.5 px-3.5 py-2 rounded-[14px] border-2 shrink-0 <%= @options[:class] %>"
     style="background: <%= tokens[:bg] %>; border-color: <%= tokens[:border] %>; box-shadow: 0 3px 0 <%= tokens[:shadow] %>;">
  <% if @icon.present? %>
    <%= render Ui::Icon::Component.new(@icon, size: 18, color: tokens[:icon_color]) %>
  <% end %>
  <div>
    <div<%= value_id ? %( id="#{value_id}").html_safe : "" %> class="text-[18px] font-extrabold leading-none" style="color: <%= tokens[:value_color] %>;">
      <%= @value %>
    </div>
    <div class="text-[9px] font-extrabold tracking-[0.5px] uppercase mt-0.5" style="color: <%= tokens[:label_color] %>;">
      <%= @label %>
    </div>
  </div>
</div>
