<div data-controller="<%= controller %>" data-<%= controller %>-active-class="active" class="z-content">
  <div role="tablist" class="tabs" style="display: inline-flex; margin-bottom: 20px; width: fit-content;">
    <% items.each do |item| %>
      <button type="button"
              role="tab"
              class="tab <%= active?(item[:id]) ? 'active' : '' %>"
              data-<%= controller %>-target="tab"
              data-action="<%= "click->#{controller}#show" %>"
              data-<%= controller %>-id-param="<%= item[:id] %>"
              aria-selected="<%= active?(item[:id]) %>">
        <% if item[:icon] %>
          <%= render Ui::Icon::Component.new(item[:icon], size: 14) %>
        <% end %>
        <%= item[:label] %>
        <% if item[:count] %>
          <span class="badge-count" style="background: rgba(167,139,250,0.15); color: var(--primary);"><%= item[:count] %></span>
        <% end %>
      </button>
    <% end %>
  </div>
</div>
