<div id="flash" class="fixed top-6 left-1/2 -translate-x-1/2 z-[500] flex flex-col items-center gap-2 pointer-events-none">
  <% flash.each do |key, message| %>
    <% next if message.blank? %>
    <div
      data-controller="flash"
      data-flash-dismiss-after-value="<%= Ui::Flash::Component::DISMISS_AFTER %>"
      class="pointer-events-auto flex items-center gap-2 px-5 py-3 rounded-full text-white font-extrabold text-[15px] shadow-lift animate-popIn bg-<%= toast_class_for(key) %>"
      style="background-color: var(--<%= toast_class_for(key) %>);"
    >
      <%= render Ui::Icon::Component.new(icon_for(key), size: 18, color: "white") %>
      <span><%= message %></span>
    </div>
  <% end %>
</div>
