<%# Trigger Celebration %>
<%= turbo_stream.append "body" do %>
  <div data-controller="celebration" data-celebration-auto-value="true">
    <div class="confetti-layer hidden" data-celebration-target="layer"></div>
  </div>
<% end %>

<%# Update Balance display (turbo_stream.set_attribute not available in turbo-rails 2.x; update inner text instead) %>
<%= turbo_stream.update "profile_points_#{current_profile.id}" do %>
  <span data-count-up-target="display"><%= current_profile.reload.points %></span>
  <span class="text-star-2">★</span>
<% end %>

<%# Show Toast %>
<%= turbo_stream.prepend "flash" do %>
  <%= render Ui::Flash::Component.new.tap { |c| flash.now[:notice] = "Resgate solicitado! Aguarde a aprovação." } %>
<% end %>
