<% if form_bound? %>
  <label class="inline-flex cursor-pointer select-none group" aria-label="<%= aria_label %>">
    <input type="hidden" name="<%= name %>" value="0" <%= "form=\"#{form}\"".html_safe if form.present? %> />
    <input type="checkbox" name="<%= name %>" value="<%= value %>" <%= "checked" if checked %> <%= "form=\"#{form}\"".html_safe if form.present? %> class="sr-only peer" />
    <span class="<%= peer_track_classes %>" style="<%= track_style %>">
      <span class="<%= peer_thumb_classes %>" style="<%= thumb_style %>"></span>
    </span>
  </label>
<% else %>
  <span class="inline-flex select-none" role="switch" aria-checked="<%= checked %>" aria-label="<%= aria_label %>">
    <span class="<%= track_classes %>" style="<%= track_style %>">
      <span class="<%= thumb_classes %>" style="<%= thumb_style %>"></span>
    </span>
  </span>
<% end %>
