<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <%= render "shared/head" %>
    <%= yield :head %>
  </head>

  <body class="min-h-screen bg-bg-deep overflow-x-hidden" data-palette="sky">
    <%= render Ui::Flash::Component.new %>
    <%= yield %>
  </body>
</html>
