<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "LittleStars | Kid" %></title>
    <%= render "shared/head" %>
    <%= yield :head %>
  </head>

  <body class="min-h-screen bg-bg-deep overflow-x-hidden" data-palette="sky">
    <%= render "shared/kid_nav" %>
    <main class="p-6 w-full max-w-screen-md mx-auto relative z-1 pb-24 md:pb-10">
      <%= render Ui::Flash::Component.new %>
      <%= yield %>
    </main>
  </body>
</html>
