<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= content_for(:title) || "LittleStars | Kid" %></title>
    <%= render "shared/head" %>
    <%= yield :head %>
  </head>

  <body class="min-h-screen bg-bg-deep overflow-x-hidden" data-palette="<%= palette_for(current_profile) %>" data-controller="fx">
    <%= render "shared/kid_nav" %>
    <%= render "kid/shared/fx_stage" %>
    <main class="w-full max-w-[430px] md:max-w-[560px] lg:max-w-[720px] mx-auto">
      <%= render Ui::Flash::Component.new %>
      <%= yield %>
    </main>
    <%= render "shared/pwa_shell" %>
  </body>
</html>
