<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "LittleStars | Painel Responsável" %></title>
    <%= render "shared/head" %>
    <%= yield :head %>
  </head>

  <body class="min-h-screen bg-bg-deep overflow-x-hidden lg:pl-[220px]">
    <% if current_profile %>
      <%= turbo_stream_from current_profile.family, "approvals" %>
      <%= render "shared/parent_nav" %>
    <% end %>
    <div class="p-6 w-full max-w-[900px] mx-auto lg:px-10 pb-24 lg:pb-6 <%= content_for?(:container_class) ? content_for(:container_class) : '' %>">
      <%= render Ui::Flash::Component.new %>
      <%= yield %>
    </div>
  </body>
</html>
