<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "LittleStars | Painel Responsável" %></title>
    <%= render "shared/head" %>
    <%= yield :head %>
  </head>

  <body class="app-shell parent-layout" data-palette="sky">
    <%= turbo_stream_from current_profile.family, "approvals" %>
    <%= render "shared/parent_nav" %>
    <div class="viewport pb-24 lg:pb-0">
      <%= render Ui::Flash::Component.new %>
      <%= yield %>
    </div>
  </body>
</html>
