<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "LittleStars | Painel Responsável" %></title>
    <%= render "shared/head" %>
    <%= yield :head %>
  </head>

  <body class="app-shell" data-palette="sky">
    <%= turbo_stream_from current_profile.family, "approvals" %>
    <div class="viewport pb-24">
      <%= render Ui::Flash::Component.new %>
      <%= yield %>
    </div>
    <%= render "shared/parent_nav" %>
  </body>
</html>
